.RestaurantForm {
    margin-top: 130px;
    width: 600px;
    height: 300px;
    border: 1px solid red;
    * {
      margin: 5px 0;
    }
  }
  .label{
    display: flex;
  }
  .label{
    display: flex;
  }