.RestaurantForm {
    margin-top: 100px;
    width: 800px;
    height: 500px;
    padding: 50px;
    * {
      margin: 5px 0;
    }
  }
  .input{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .title{
    margin-bottom: 30px;
  }
  .form{
    border: 1px solid red;
    width: 800px;
    height: 320px;
    padding: 50px;
  }
 

  